<p-table [value]="driversList">
  <ng-template pTemplate="header">
    <tr>
      <th>Posición</th>
      <th>Piloto</th>
      <th>Puntos</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-driver>
    <tr>
      <td>{{driver.id + 1}}</td>
      <td>
        <p-avatar label="{{ driver.first }}" [style]="{ 'background-color': '#23538F', color: '#ffffff'}"
          shape="circle"></p-avatar>
        {{ driver.name }}
      </td>
      <td></td>
    </tr>
  </ng-template>
</p-table>