table {
    width: 9    0%;
    margin: auto;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color:var(--primary-color);
    color: var(--text-color);
}

tr:nth-child(even) {
    background-color:var(--primary-color-opacity);
    color: var(--text-color);
}